{% extends "firstapp/base.html" %}
{% load static %}
{% block title %}Статьи{% endblock title %}
{% block header %}Статьи{% endblock header %}
{% block content %}
    <p class="main_text"><span style="font-size: 50px; color: white; font-family: Impact,serif; ">Почему Феде нельзя стоять в харде</span></p>
    <img class="main_image"  src="{% static "images/article/fedos.jpg" %}" alt="picture of {}" >
    <p><span style="font-size: 30px; color: white; font-family: Impact,serif; ">Во-первых, Федя берет <img src="{% static "images/article/Alchemist_icon.png" %}"> в харду</span></p>
    <p><span style="font-size: 30px; color: white; font-family: Impact,serif; ">Во-вторых, Федя отыгрывает со счетом 3-15-10</span></p>
    <p><span style="font-size: 30px; color: white; font-family: Impact,serif; ">В-третьих, Федя мутит всех как только ему начинают говорить где именно он неправ</span></p>
    <p><span style="font-size: 30px; color: white; font-family: Impact,serif; ">В-четвертых, есть гораздо более успешные роли для Феди(4/5)</span></p>
    <p><span style="font-size: 30px; color: white; font-family: Impact,serif; ">В-пятых, вместо осознания и исправления ошибок, Федя ссылается на какие-то загадочные обстоятельства</span></p>
{% endblock content %}
