{% extends "firstapp/base.html" %}
{% load static %}
{% block title %}5х5{% endblock title %}
{% block header %}Катки 5х5+финальные титры{% endblock header %}
{% block content %}
    <p><span style="font-size: small; color: white; font-family: Impact,serif; ">свет: легендарный 5к Максим, не менее легендарный Егор с АСОИ, Федя БНТУ, Тесл, Ноунейм</span></p>
    <p><span style="font-size: small; color: darkred; font-family: Impact,serif; ">тьма: Я, Артурчик, Ноунейм, Мишенька, Кирилл</span></p>
    <img class="main_image"  src="{% static "images/screens/sc1.jpg" %}" alt="picture of {}" >
    <p><span style="font-size: small; color: white; font-family: Impact,serif; ">свет: Я, Ноунейм, Ноунейм номер 2, Мишенька, его величество третий Ноунейм</span></p>
    <p><span style="font-size: small; color: darkred; font-family: Impact,serif; ">тьма: легендарный 5к Максим, не менее легендарный Егор с АСОИ, Артурчик, еще какой-то Ноунейм, Кирилл</span></p>
    <img class="main_image"  src="{% static "images/screens/sc3.jpg" %}" alt="picture of {}" >
    <p><span style="font-size: small; color: white; font-family: Impact,serif; ">свет: Артур, легендарный Егор с АСОИ, я честно не помню что это за очередной Ноунейм, Ноунейм х2, Кирилл</span></p>
    <p><span style="font-size: small; color: darkred; font-family: Impact,serif; ">тьма: Я, 5к Максик, Темыч, Мишка Распрыжка, Юра, переболевший коронавинусом</span></p>
    <img class="main_image"  src="{% static "images/screens/sc4.jpg" %}" alt="picture of {}" >
    <p class="main_text"><span style="font-size: large; color: white; font-family: Impact,serif; ">Барковский Дмитрий, 853503, 3 и, в перспективе, 4 лабораторные работы</span></p>
    <p class="leftText"><span style="font-size: small; color: red; font-family: Impact,serif; ">также посвящается всем моим друзьям, с которыми я играю в доту два</span></p>
{% endblock content %}

