{% extends "firstapp/base.html" %}

{% load crispy_forms_tags %}

{% block title %} Регистрация {% endblock %}

{% block content %}

    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <legend>Register</legend>
            <fieldset>
                {{ form.as_p }}
                {{ profile_form.as_p }}
            </fieldset>
            <div>
                <button class="button_main_empty" type="submit">Confirm</button>
            </div>
        </form>
    </div>

{% endblock %}